# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 03**: Data Cleaning and Transformation Pipeline

**Date**: September 18th 2025

**Student Name**: Ana Carolina Arellano Valdez

**Professor**: Pablo Camarillo Ramirez

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Lab 03: Data Cleaning and Transformation Pipeline") \
    .master("spark://2b8212f158e8:7077") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

### Delete unnecessary columns

### Normalize categorical values: map “zero” → 0, “one” → 1, etc. in stops

### Create a new column called route: “Delhi → Mumbai” from source_city and destination_city

### Transform departure_time and arrival_time to numerical categories (Morning, Afternoon, etc.), then encode as numbers (0=Early_Morning, 1=Morning, etc.)

### Add a new column is_expensive: when(price > 6000, True).otherwise(False)

### Get the average price per airline

### Average price per route

### Minimum and maximum price per airline

### Count flights by departure_time category