## <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 03**: Data Cleaning and Transformation Pipeline

**Date**: September 18th 2025

**Student Name**:

**Professor**: Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("Examples on SparkSQL") \
.master("spark://cb6c8cd9dfa2:7077") \
.config("spark.ui.port", "4040") \
.getOrCreate()
sc = spark.sparkContext

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/19 19:48:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
from regalado_floriano.spark_utils import SparkUtils

In [35]:
names = "index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price"
names = (names.split(","))
types = ("int" + " string"*8 + " float int int" ).split()
nameTypes = zip(names, types)

nt = [ (x[0], x[1]) for x in zip(names,types)]
schema = SparkUtils.generate_schema(nt)
schema

[('index', 'int'), ('airline', 'string'), ('flight', 'string'), ('source_city', 'string'), ('departure_time', 'string'), ('stops', 'string'), ('arrival_time', 'string'), ('destination_city', 'string'), ('class', 'string'), ('duration', 'float'), ('days_left', 'int'), ('price', 'int')]

StructType([StructField('index', IntegerType(), True), StructField('airline', StringType(), True), StructField('flight', StringType(), True), StructField('source_city', StringType(), True), StructField('departure_time', StringType(), True), StructField('stops', StringType(), True), StructField('arrival_time', StringType(), True), StructField('destination_city', StringType(), True), StructField('class', StringType(), True), StructField('duration', FloatType(), True), StructField('days_left', IntegerType(), True), StructField('price', IntegerType(), True)])

In [36]:
airlines_schema = schema

In [38]:

airlines_schema = schema
df_airlines = spark.read \
.option("header", "true") \
.schema(airlines_schema) \
.csv("/opt/spark/work-dir/data/airline/")
df_airlines.show(n=5)

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|index| airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|    0|SpiceJet|SG-8709|      Delhi|       Evening| zero|        Night|          Mumbai|Economy|    2.17|        1| 5953|
|    1|SpiceJet|SG-8157|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5953|
|    2| AirAsia| I5-764|      Delhi| Early_Morning| zero|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|
|    3| Vistara| UK-995|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|
|    4| Vistara| UK-963|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5955|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
only showing top 5 rows

In [39]:
from pyspark.sql.functions import col, create_map, lit
from itertools import chain

In [40]:
numberMap = {
    "zero": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "ten": 10}
mapping_expr = create_map([lit(x) for x in chain(*numberMap.items())])

In [43]:
normal = df_airlines.withColumn("stops", mapping_expr[col("stops")] )

In [45]:
normal.show(n=10)

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|index| airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|    0|SpiceJet|SG-8709|      Delhi|       Evening|    0|        Night|          Mumbai|Economy|    2.17|        1| 5953|
|    1|SpiceJet|SG-8157|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5953|
|    2| AirAsia| I5-764|      Delhi| Early_Morning|    0|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|
|    3| Vistara| UK-995|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|
|    4| Vistara| UK-963|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5955|
|    5| Vistara| UK-945|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.33|        1| 5955|
|    6| Vistara| UK-927|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.08|        1| 6060|
|    7| Vistara| UK-951|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.17|        1| 6060|
|    8|GO_FIRST| G8-334|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.17|        1| 5954|
|    9|GO_FIRST| G8-336|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.25|        1| 5954|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
only showing top 10 rows

In [47]:
has_expensive = normal.withColumn("expensive", col("price") > 6000  )

In [48]:
has_expensive.show(n=20)

+-----+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+
|index|  airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|expensive|
+-----+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+
|    0| SpiceJet|SG-8709|      Delhi|       Evening|    0|        Night|          Mumbai|Economy|    2.17|        1| 5953|    false|
|    1| SpiceJet|SG-8157|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5953|    false|
|    2|  AirAsia| I5-764|      Delhi| Early_Morning|    0|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|    false|
|    3|  Vistara| UK-995|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|    false|
|    4|  Vistara| UK-963|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5955|    false|
|    5|  Vistara| UK-945|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.33|        1| 5955|    false|
|    6|  Vistara| UK-927|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.08|        1| 6060|     true|
|    7|  Vistara| UK-951|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.17|        1| 6060|     true|
|    8| GO_FIRST| G8-334|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.17|        1| 5954|    false|
|    9| GO_FIRST| G8-336|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.25|        1| 5954|    false|
|   10| GO_FIRST| G8-392|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.25|        1| 5954|    false|
|   11| GO_FIRST| G8-338|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.33|        1| 5954|    false|
|   12|   Indigo|6E-5001|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.17|        1| 5955|    false|
|   13|   Indigo|6E-6202|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.17|        1| 5955|    false|
|   14|   Indigo| 6E-549|      Delhi|     Afternoon|    0|      Evening|          Mumbai|Economy|    2.25|        1| 5955|    false|
|   15|   Indigo|6E-6278|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5955|    false|
|   16|Air_India| AI-887|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.08|        1| 5955|    false|
|   17|Air_India| AI-665|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.17|        1| 5955|    false|
|   18|  AirAsia| I5-747|      Delhi|       Evening|    1|Early_Morning|          Mumbai|Economy|   12.25|        1| 5949|    false|
|   19|  AirAsia| I5-747|      Delhi|       Evening|    1|      Morning|          Mumbai|Economy|   16.33|        1| 5949|    false|
+-----+---------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+
only showing top 20 rows

In [57]:
from pyspark.sql.functions import col, concat, lit,concat_ws

In [60]:
has_route = has_expensive.withColumn("route", concat_ws( "→", col("source_city")  , col("destination_city") ) )

In [61]:
has_route.show(n=5)

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+------------+
|index| airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|expensive|       route|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+------------+
|    0|SpiceJet|SG-8709|      Delhi|       Evening|    0|        Night|          Mumbai|Economy|    2.17|        1| 5953|    false|Delhi→Mumbai|
|    1|SpiceJet|SG-8157|      Delhi| Early_Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5953|    false|Delhi→Mumbai|
|    2| AirAsia| I5-764|      Delhi| Early_Morning|    0|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|    false|Delhi→Mumbai|
|    3| Vistara| UK-995|      Delhi|       Morning|    0|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|    false|Delhi→Mumbai|
|    4| Vistara| UK-963|      Delhi|       Morning|    0|      Morning|          Mumbai|Economy|    2.33|        1| 5955|    false|Delhi→Mumbai|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+---------+------------+
only showing top 5 rows

In [89]:
numberMap = {
    "Early_Morning": 0,
    "Morning": 1,
    "Early_Noon": 2,
    "Noon": 3,
    "Early_Afternoon": 4,
    "Afternoon": 5,
    "Early_Evening": 6,
    "Evening": 7,
    "Early_Night": 8,
    "Night": 9,
    "Late_Night":10,
    "Midnight": 11}
mapping_expr = create_map([lit(x) for x in chain(*numberMap.items())])

In [95]:
norm_departures = has_route.withColumn("departure_time", mapping_expr[col("departure_time")] ) 
norm_departures = has_route.withColumn("arrival_time", mapping_expr[col("departure_time")] )

In [96]:
norm_departures.show(n=10)

+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+---------+------------+
|index| airline| flight|source_city|departure_time|stops|arrival_time|destination_city|  class|duration|days_left|price|expensive|       route|
+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+---------+------------+
|    0|SpiceJet|SG-8709|      Delhi|       Evening|    0|           7|          Mumbai|Economy|    2.17|        1| 5953|    false|Delhi→Mumbai|
|    1|SpiceJet|SG-8157|      Delhi| Early_Morning|    0|           0|          Mumbai|Economy|    2.33|        1| 5953|    false|Delhi→Mumbai|
|    2| AirAsia| I5-764|      Delhi| Early_Morning|    0|           0|          Mumbai|Economy|    2.17|        1| 5956|    false|Delhi→Mumbai|
|    3| Vistara| UK-995|      Delhi|       Morning|    0|           1|          Mumbai|Economy|    2.25|        1| 5955|    false|Delhi→Mumbai|
|    4| Vistara| UK-963|      Delhi|       Morning|    0|           1|          Mumbai|Economy|    2.33|        1| 5955|    false|Delhi→Mumbai|
|    5| Vistara| UK-945|      Delhi|       Morning|    0|           1|          Mumbai|Economy|    2.33|        1| 5955|    false|Delhi→Mumbai|
|    6| Vistara| UK-927|      Delhi|       Morning|    0|           1|          Mumbai|Economy|    2.08|        1| 6060|     true|Delhi→Mumbai|
|    7| Vistara| UK-951|      Delhi|     Afternoon|    0|           5|          Mumbai|Economy|    2.17|        1| 6060|     true|Delhi→Mumbai|
|    8|GO_FIRST| G8-334|      Delhi| Early_Morning|    0|           0|          Mumbai|Economy|    2.17|        1| 5954|    false|Delhi→Mumbai|
|    9|GO_FIRST| G8-336|      Delhi|     Afternoon|    0|           5|          Mumbai|Economy|    2.25|        1| 5954|    false|Delhi→Mumbai|
+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+---------+------------+
only showing top 10 rows