# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>

#### <center> **Final Project: Batch Processing** </center>
---

**Date**: October, 2025

**Student Name**:

**Professor**: Pablo Camarillo Ramirez

# Introduction

OrangeStone wishes to enter the House Market, and has access to a database that is updated monthly with information pertaining to global house purchases. They want to use the most of these information to make decisions on the real state they buy. As such, they decided to transform their raw data into a star model for ease of analysis.

# Dataset

The dataset they have access to is https://www.kaggle.com/datasets/mohankrishnathalla/global-house-purchase-decision-dataset

# Transformations and Actions

## Transformations

In [24]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ML: Logistic Regression") \
    .master("spark://spark-master:7077") \
    .config("spark.jars", "/opt/spark/work-dir/jars/postgresql-42.7.8.jar") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("INFO")

# Optimization (reduce the number of shuffle partitions)
spark.conf.set("spark.sql.shuffle.partitions", "5")

25/10/27 02:07:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
from regalado_floriano.spark_utils import SparkUtils

In [3]:
houses_schema = SparkUtils.generate_schema(
 
    (("property_id","int"),
("country","string"),
("city","string"),
("property_type","string"),
("furnishing_status","string"),
("property_size_sqft","int"),
("price","int"),
("constructed_year","int"),
("previous_owners","int"),
("rooms","int"),
("bathrooms","int"),
("garage","bool"),
("garden","bool"),
("crime_cases_reported","int"),
("legal_cases_on_property","bool"),
("customer_salary","int"),
("loan_amount","int"),
("loan_tenure_years","int"),
("monthly_expenses","int"),
("down_payment","int"),
("emi_to_income_ratio","float"),
("satisfaction_score","int"),
("neighbourhood_rating","int"),
("connectivity_score","int"),
("decision","bool")
    )
)

In [4]:
house_df = spark.read \
                .option("header", "true") \
                .schema(houses_schema) \
                .csv("/opt/spark/work-dir/data/house_purchases")

In [5]:
house_df= house_df.na.fill(False)

In [6]:
#in order to prepare for ease of analysis, all categorical data will be put in it's own frame. That is to say, each country and city will get 
# their own id

In [7]:
from pyspark.sql.functions import col
from pyspark.sql.functions import monotonically_increasing_id

In [8]:
categories = "country city property_type furnishing_status".split()

In [9]:
_localMap = SparkUtils.generate_keyed_distinct_column(house_df)

categoricalTables =   {
     key:     _localMap(key) for key in categories
 }

In [10]:
id_house = house_df
for cat in categories:
    cur_df = categoricalTables[cat]
    id_house = SparkUtils.replace_column_for_key(id_house)(cur_df)(cat)

In [11]:
id_bak = id_house

In [12]:
locations = id_house.select( "country_id", "city_id").distinct().withColumn("id",monotonically_increasing_id())

In [13]:
id_house = id_house.join(
    locations ,
    on=[id_house["country_id"] == locations["country_id"],
        id_house["city_id"] == locations["city_id"]],
    how="left"
).drop("country_id", "city_id").withColumnRenamed("id", "location_id")

25/10/27 01:56:36 WARN Column: Constructing trivially true equals predicate, 'm.country_id == m.country_id'. Perhaps you need to use aliases.
25/10/27 01:56:36 WARN Column: Constructing trivially true equals predicate, 'm.city_id == m.city_id'. Perhaps you need to use aliases.

In [14]:
house_details = id_house.select("property_id","legal_cases_on_property", 
                                "previous_owners","rooms","bathrooms", "garage","garden","crime_cases_reported","legal_cases_on_property",
                               "neighbourhood_rating", "satisfaction_score", "property_size_sqft", "price"
                               ,"constructed_year", "furnishing_status_id", "property_type_id"
                               )

In [15]:
loan_details = house_df.select( 
            "property_id",
            "loan_amount","loan_tenure_years","down_payment"
                              )

In [16]:
buyer_details = id_house.select(
    "property_id", "customer_salary","emi_to_income_ratio", "monthly_expenses", "connectivity_score"
                               )

In [17]:
houses_k =  id_house.select("property_id", "decision", "location_id" )

In [22]:
all_details = [house_details , loan_details, buyer_details]

## Actions

In [18]:
houses_k.show()

+-----------+--------+-----------+
|property_id|decision|location_id|
+-----------+--------+-----------+
|          1|   false|         22|
|          2|   false|          3|
|          3|   false|          4|
|          4|   false|          5|
|          5|   false|          4|
|          6|   false|          0|
|          7|   false|         23|
|          8|   false|         14|
|          9|   false|          1|
|         10|   false|          6|
|         11|   false|         23|
|         12|   false|         23|
|         13|   false|          5|
|         14|   false|          3|
|         15|   false|          7|
|         16|   false|         24|
|         17|   false|         15|
|         18|   false|         25|
|         19|   false|          8|
|         20|   false|         32|
+-----------+--------+-----------+
only showing top 20 rows

In [19]:
locations.show()

+----------+-------+---+
|country_id|city_id| id|
+----------+-------+---+
|         4|      9|  0|
|        10|     33|  1|
|        12|     17|  2|
|         9|      0|  3|
|         9|     28|  4|
|         6|     31|  5|
|         5|     10|  6|
|         8|      2|  7|
|        11|     34|  8|
|         1|     35|  9|
|        12|      4| 10|
|         1|     22| 11|
|         0|      7| 12|
|        12|     39| 13|
|         7|     32| 14|
|         1|     19| 15|
|         4|     36| 16|
|         3|     21| 17|
|        11|     37| 18|
|         1|      5| 19|
+----------+-------+---+
only showing top 20 rows

In [21]:
for table in categoricalTables:
    categoricalTables[table].show()

+------------+---+
|     country| id|
+------------+---+
|      France|  0|
|         USA|  1|
|   Singapore|  2|
|       Japan|  3|
|      Canada|  4|
|   Australia|  5|
|     Germany|  6|
|      Brazil|  7|
|          UK|  8|
|South Africa|  9|
|         UAE| 10|
|       China| 11|
|       India| 12|
+------------+---+

+--------------+---+
|          city| id|
+--------------+---+
|     Cape Town|  0|
|Rio de Janeiro|  1|
|        London|  2|
|     Singapore|  3|
|       Chennai|  4|
|       Chicago|  5|
|      Brisbane|  6|
|         Paris|  7|
|     Bangalore|  8|
|      Montreal|  9|
|     Melbourne| 10|
|     Liverpool| 11|
|       Beijing| 12|
|         Tokyo| 13|
|    Birmingham| 14|
|        Munich| 15|
|        Sydney| 16|
|        Mumbai| 17|
|     Hyderabad| 18|
| San Francisco| 19|
+--------------+---+
only showing top 20 rows
+-----------------+---+
|    property_type| id|
+-----------------+---+
|           Studio|  0|
|        Apartment|  1|
|        Townhouse|  2|
|            Villa|  3|
|        Farmhouse|  4|
|Independent House|  5|
+-----------------+---+

+-----------------+---+
|furnishing_status| id|
+-----------------+---+
|  Fully-Furnished|  0|
|   Semi-Furnished|  1|
|      Unfurnished|  2|
+-----------------+---+

In [23]:
for det in all_details:
    det.show()

+-----------+-----------------------+---------------+-----+---------+------+------+--------------------+-----------------------+--------------------+------------------+------------------+-------+----------------+--------------------+----------------+
|property_id|legal_cases_on_property|previous_owners|rooms|bathrooms|garage|garden|crime_cases_reported|legal_cases_on_property|neighbourhood_rating|satisfaction_score|property_size_sqft|  price|constructed_year|furnishing_status_id|property_type_id|
+-----------+-----------------------+---------------+-----+---------+------+------+--------------------+-----------------------+--------------------+------------------+------------------+-------+----------------+--------------------+----------------+
|          1|                  false|              6|    6|        2| false| false|                   1|                  false|                   5|                 1|               991| 412935|            1989|                   1|               4|
|          2|                  false|              4|    8|        8| false| false|                   1|                  false|                   1|                 9|              1244| 224538|            1990|                   1|               1|
|          3|                  false|              5|    2|        1| false| false|                   0|                  false|                   8|                 6|              4152| 745104|            2019|                   1|               4|
|          4|                  false|              1|    3|        3| false| false|                   0|                  false|                   6|                 2|              3714|1110959|            2008|                   1|               4|
|          5|                  false|              6|    3|        3| false| false|                   3|                  false|                   3|                 3|               531|  99041|            2007|                   0|               2|
|          6|                  false|              0|    5|        2| false| false|                   0|                  false|                   8|                10|              3169|1107368|            1985|                   1|               3|
|          7|                  false|              1|    2|        1| false| false|                   0|                  false|                  10|                 9|              1986| 398439|            1976|                   2|               0|
|          8|                  false|              4|    6|        6| false| false|                   1|                  false|                   5|                 1|              4048| 807236|            2020|                   1|               2|
|          9|                  false|              6|    2|        1| false| false|                   0|                  false|                   8|                 8|              5213|3131373|            1968|                   1|               4|
|         10|                  false|              2|    5|        2| false| false|                   0|                  false|                   4|                 1|              4648|1483250|            1966|                   2|               1|
|         11|                  false|              4|    8|        3| false| false|                   1|                  false|                   7|                 8|              5812|1166185|            2017|                   0|               1|
|         12|                  false|              2|    3|        1| false| false|                   4|                  false|                   5|                 2|              5507|1101275|            1994|                   1|               0|
|         13|                  false|              4|    2|        2| false| false|                   2|                  false|                   7|                 3|              5265|1578906|            2005|                   0|               2|
|         14|                  false|              6|    7|        2| false| false|                   6|                  false|                   9|                 6|              2002| 360608|            2004|                   2|               3|
|         15|                  false|              6|    3|        1| false| false|                   0|                  false|                   2|                 1|              4514|1806300|            2003|                   2|               0|
|         16|                  false|              1|    8|        6| false| false|                   1|                  false|                   4|                 4|              5519|2209937|            2019|                   0|               5|
|         17|                  false|              0|    2|        1| false| false|                   1|                  false|                   7|                 7|              3770|1889678|            2017|                   2|               2|
|         18|                  false|              0|    4|        4| false| false|                   0|                  false|                   3|                 6|              3614|1370263|            2013|                   2|               5|
|         19|                  false|              1|    5|        5| false| false|                   0|                  false|                  10|                 9|              5597|2121884|            1965|                   2|               5|
|         20|                  false|              5|    4|        2| false| false|                   1|                  false|                   6|                10|              3951|1584521|            1979|                   1|               0|
+-----------+-----------------------+---------------+-----+---------+------+------+--------------------+-----------------------+--------------------+------------------+------------------+-------+----------------+--------------------+----------------+
only showing top 20 rows
+-----------+-----------+-----------------+------------+
|property_id|loan_amount|loan_tenure_years|down_payment|
+-----------+-----------+-----------------+------------+
|          1|     193949|               15|      218986|
|          2|     181465|               20|       43073|
|          3|     307953|               30|      437151|
|          4|     674720|               15|      436239|
|          5|      65833|               25|       33208|
|          6|     793316|               30|      314052|
|          7|     268167|               25|      130272|
|          8|     503385|               20|      303851|
|          9|    1866416|               15|     1264957|
|         10|    1093290|               10|      389960|
|         11|     918388|               25|      247797|
|         12|     874604|               20|      226671|
|         13|     671215|               30|      907691|
|         14|     150994|               10|      209614|
|         15|     939041|               20|      867259|
|         16|     960016|               15|     1249921|
|         17|    1352109|               30|      537569|
|         18|     712117|               10|      658146|
|         19|    1801788|               20|      320096|
|         20|    1190158|               10|      394363|
+-----------+-----------+-----------------+------------+
only showing top 20 rows
+-----------+---------------+-------------------+----------------+------------------+
|property_id|customer_salary|emi_to_income_ratio|monthly_expenses|connectivity_score|
+-----------+---------------+-------------------+----------------+------------------+
|          1|          10745|               0.16|            6545|                 6|
|          2|          16970|               0.08|            8605|                 2|
|          3|          21914|               0.09|            2510|                 1|
|          4|          17980|               0.33|            8805|                 6|
|          5|          17676|               0.03|            8965|                 4|
|          6|          95520|               0.05|           10615|                 2|
|          7|          11426|               0.16|           14440|                10|
|          8|          29832|               0.13|            7200|                 8|
|          9|          56255|               0.29|           10300|                10|
|         10|          67350|               0.18|           16360|                 7|
|         11|          22342|               0.28|            6895|                 6|
|         12|          33832|               0.19|            3885|                 6|
|         13|          64480|               0.07|            8785|                 2|
|         14|          12178|               0.14|           15245|                 1|
|         15|          83470|               0.08|            3990|                 7|
|         16|          78045|               0.11|            9880|                 3|
|         17|          82500|                0.1|            6400|                 5|
|         18|          25325|               0.32|            4200|                 5|
|         19|          32910|               0.41|           19035|                 5|
|         20|          42000|               0.32|           13085|                 9|
+-----------+---------------+-------------------+----------------+------------------+
only showing top 20 rows

# Persistence Data

In [25]:
jdbc_url = "jdbc:postgresql://postgres-iteso:5432/postgres"

In [ ]:
houses_k

# DAG