# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 04**: Data Unions & Joins Pipeline

**Date**: September 23rd 2025

**Student Name**: Juan Bernardo Orozco Quirarte

**Professor**: Pablo Camarillo Ramirez

In [27]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Examples on SparkSQL") \
    .master("spark://7d7f1cd1d5d2:7077") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

### Agencies

In [28]:
# Build schema
# Import your module
from lib.bernardoorozco.spark_utils import SparkUtils
from pyspark.sql.functions import from_json
from pyspark.sql.functions import get_json_object

schema_agencies = SparkUtils.generate_schema([("agency_id", "int"), ("agency_info", "string")])

print("Agencies")
df_agencies = spark.read.schema(schema_agencies).option("header", True).csv("/opt/spark/work-dir/data/car_service/agencies")
df_agencies = df_agencies.withColumn("agency_name", get_json_object("agency_info", "$.agency_name"))
df_agencies.show(truncate=False)

Agencies

+---------+-----------------------------------------------------+-------------+
|agency_id|agency_info                                          |agency_name  |
+---------+-----------------------------------------------------+-------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |NYC Rentals  |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |LA Car Rental|
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |Zapopan Auto |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |SF Cars      |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|Mexico Cars  |
+---------+-----------------------------------------------------+-------------+

### Brands

In [29]:
schema_brands = SparkUtils.generate_schema([("brand_id", "int"), ("brand_info", "string")])

print("Brands")
df_brands = spark.read.schema(schema_brands).option("header", True).csv("/opt/spark/work-dir/data/car_service/brands")
df_brands = df_brands.withColumn("brand_name", get_json_object("brand_info", "$.brand_name"))
df_brands.show(truncate=False)

Brands
+--------+-----------------------------------------------------+-------------+
|brand_id|brand_info                                           |brand_name   |
+--------+-----------------------------------------------------+-------------+
|1       |{'brand_name': 'Mercedes-Benz', 'country': 'Germany'}|Mercedes-Benz|
|2       |{'brand_name': 'BMW', 'country': 'Germany'}          |BMW          |
|3       |{'brand_name': 'Audi', 'country': 'Germany'}         |Audi         |
|4       |{'brand_name': 'Ford', 'country': 'US'}              |Ford         |
|5       |{'brand_name': 'BYD', 'country': 'China'}            |BYD          |
|6       |{'brand_name': 'Honda', 'country': 'Japan'}          |Honda        |
|7       |{'brand_name': 'Toyota', 'country': 'Japan'}         |Toyota       |
+--------+-----------------------------------------------------+-------------+

### Cars

In [30]:
schema_cars = SparkUtils.generate_schema([("car_id", "int"), ("car_info", "string")])

print("Cars")
df_cars = spark.read.schema(schema_cars).option("header", True).csv("/opt/spark/work-dir/data/car_service/cars")
df_cars = (
    df_cars
    .withColumn("car_name", get_json_object("car_info", "$.car_name"))
    .withColumn("brand_id", get_json_object("car_info", "$.brand_id").cast("int"))
    .withColumn("price_per_day", get_json_object("car_info", "$.price_per_day").cast("int"))
)
df_cars.show(truncate=False)

Cars
+------+----------------------------------------------------------------------------------------+------------------------------------+--------+-------------+
|car_id|car_info                                                                                |car_name                            |brand_id|price_per_day|
+------+----------------------------------------------------------------------------------------+------------------------------------+--------+-------------+
|1     |{'car_name': 'Chang-Fisher Model 7', 'brand_id': 5, 'price_per_day': 139}               |Chang-Fisher Model 7                |5       |139          |
|2     |{'car_name': 'Sheppard-Tucker Model 4', 'brand_id': 6, 'price_per_day': 70}             |Sheppard-Tucker Model 4             |6       |70           |
|3     |{'car_name': 'Faulkner-Howard Model 5', 'brand_id': 3, 'price_per_day': 53}             |Faulkner-Howard Model 5             |3       |53           |
|4     |{'car_name': 'Wagner LLC Model 1', 'brand_id': 5, 'price_per_day': 89}                  |Wagner LLC Model 1                  |5       |89           |
|5     |{'car_name': 'Campos PLC Model 4', 'brand_id': 4, 'price_per_day': 112}                 |Campos PLC Model 4                  |4       |112          |
|6     |{'car_name': 'Archer-Patel Model 2', 'brand_id': 3, 'price_per_day': 55}                |Archer-Patel Model 2                |3       |55           |
|7     |{'car_name': 'Patrick, Barrera and Collins Model 6', 'brand_id': 6, 'price_per_day': 66}|Patrick, Barrera and Collins Model 6|6       |66           |
|8     |{'car_name': 'Jones, Jefferson and Rivera Model 7', 'brand_id': 2, 'price_per_day': 115}|Jones, Jefferson and Rivera Model 7 |2       |115          |
|9     |{'car_name': 'Garcia, Hamilton and Carr Model 5', 'brand_id': 6, 'price_per_day': 137}  |Garcia, Hamilton and Carr Model 5   |6       |137          |
|10    |{'car_name': 'Levy Group Model 9', 'brand_id': 3, 'price_per_day': 93}                  |Levy Group Model 9                  |3       |93           |
|11    |{'car_name': 'Grimes-Green Model 8', 'brand_id': 3, 'price_per_day': 150}               |Grimes-Green Model 8                |3       |150          |
|12    |{'car_name': 'Moon, Davis and Larsen Model 1', 'brand_id': 6, 'price_per_day': 100}     |Moon, Davis and Larsen Model 1      |6       |100          |
|13    |{'car_name': 'Summers, Barnett and Smith Model 6', 'brand_id': 4, 'price_per_day': 139} |Summers, Barnett and Smith Model 6  |4       |139          |
|14    |{'car_name': 'Clayton-Cook Model 10', 'brand_id': 6, 'price_per_day': 116}              |Clayton-Cook Model 10               |6       |116          |
|15    |{'car_name': 'Nguyen, Harrell and Lee Model 6', 'brand_id': 2, 'price_per_day': 94}     |Nguyen, Harrell and Lee Model 6     |2       |94           |
|16    |{'car_name': 'Walker, Pratt and Thomas Model 9', 'brand_id': 6, 'price_per_day': 192}   |Walker, Pratt and Thomas Model 9    |6       |192          |
|17    |{'car_name': 'West, Miller and Flores Model 5', 'brand_id': 1, 'price_per_day': 63}     |West, Miller and Flores Model 5     |1       |63           |
|18    |{'car_name': 'Bolton, Burns and Turner Model 10', 'brand_id': 6, 'price_per_day': 110}  |Bolton, Burns and Turner Model 10   |6       |110          |
|19    |{'car_name': 'Mann-Kelley Model 3', 'brand_id': 2, 'price_per_day': 146}                |Mann-Kelley Model 3                 |2       |146          |
|20    |{'car_name': 'Harris, Lloyd and Payne Model 4', 'brand_id': 6, 'price_per_day': 96}     |Harris, Lloyd and Payne Model 4     |6       |96           |
+------+----------------------------------------------------------------------------------------+------------------------------------+--------+-------------+
only showing top 20 rows

### Customers

In [31]:
schema_customers = SparkUtils.generate_schema([("customer_id", "int"), ("customer_info", "string")])

print("Customers")
df_customers = spark.read.schema(schema_customers).option("header", True).csv("/opt/spark/work-dir/data/car_service/customers")
df_customers = df_customers.withColumn("customer_name", get_json_object("customer_info", "$.customer_name"))
df_customers.show(truncate=False)

Customers
+-----------+-------------------------------------------------------------------------+--------------------+
|customer_id|customer_info                                                            |customer_name       |
+-----------+-------------------------------------------------------------------------+--------------------+
|1          |{'customer_name': 'Tiffany Riley', 'city': 'Monterrey', 'age': 32}       |Tiffany Riley       |
|2          |{'customer_name': 'Matthew Davies', 'city': 'Monterrey', 'age': 36}      |Matthew Davies      |
|3          |{'customer_name': 'Rebecca Miller', 'city': 'Mexico City', 'age': 30}    |Rebecca Miller      |
|4          |{'customer_name': 'Katelyn Mccoy', 'city': 'New York', 'age': 34}        |Katelyn Mccoy       |
|5          |{'customer_name': 'Dana Dennis', 'city': 'Zapopan', 'age': 26}           |Dana Dennis         |
|6          |{'customer_name': 'Daniel Norton', 'city': 'Mexico City', 'age': 34}     |Daniel Norton       |
|7          |{'customer_name': 'Robert Garcia', 'city': 'Zapopan', 'age': 47}         |Robert Garcia       |
|8          |{'customer_name': 'Michael Williams', 'city': 'Monterrey', 'age': 33}    |Michael Williams    |
|9          |{'customer_name': 'Susan Ferguson', 'city': 'San Francisco', 'age': 41}  |Susan Ferguson      |
|10         |{'customer_name': 'Alyssa Reid', 'city': 'Mexico City', 'age': 40}       |Alyssa Reid         |
|11         |{'customer_name': 'Laura Myers', 'city': 'Zapopan', 'age': 50}           |Laura Myers         |
|12         |{'customer_name': 'William Johnson', 'city': 'Monterrey', 'age': 25}     |William Johnson     |
|13         |{'customer_name': 'Tyler Lopez', 'city': 'Mexico City', 'age': 21}       |Tyler Lopez         |
|14         |{'customer_name': 'Daniel Owen', 'city': 'Mexico City', 'age': 47}       |Daniel Owen         |
|15         |{'customer_name': 'Allison Coleman', 'city': 'Zapopan', 'age': 33}       |Allison Coleman     |
|16         |{'customer_name': 'David Walker', 'city': 'Londres', 'age': 33}          |David Walker        |
|17         |{'customer_name': 'Hayley White', 'city': 'Monterrey', 'age': 29}        |Hayley White        |
|18         |{'customer_name': 'Amanda Garcia', 'city': 'Zapopan', 'age': 20}         |Amanda Garcia       |
|19         |{'customer_name': 'Christina Howard PhD', 'city': 'Monterrey', 'age': 22}|Christina Howard PhD|
|20         |{'customer_name': 'Tamara Jackson', 'city': 'San Francisco', 'age': 29}  |Tamara Jackson      |
+-----------+-------------------------------------------------------------------------+--------------------+
only showing top 20 rows

### Rentals

In [32]:
schema_rentals = SparkUtils.generate_schema([("rental_id", "int"), ("rental_info", "string")])

print("Rentals")
df_rentals = spark.read.schema(schema_rentals).option("header", True).csv("/opt/spark/work-dir/data/car_service/rentals")
df_rentals = (
    df_rentals.withColumn("car_id", get_json_object("rental_info", "$.car_id").cast("int")).withColumn("agency_id", get_json_object("rental_info", "$.agency_id").cast("int")).withColumn("customer_id", get_json_object("rental_info", "$.customer_id").cast("int"))
)
df_rentals.show(truncate=False)

Rentals
+---------+--------------------------------------------------+------+---------+-----------+
|rental_id|rental_info                                       |car_id|agency_id|customer_id|
+---------+--------------------------------------------------+------+---------+-----------+
|11891    |{'car_id': 21, 'customer_id': 71, 'agency_id': 1} |21    |1        |71         |
|11892    |{'car_id': 11, 'customer_id': 52, 'agency_id': 2} |11    |2        |52         |
|11893    |{'car_id': 22, 'customer_id': 116, 'agency_id': 4}|22    |4        |116        |
|11894    |{'car_id': 5, 'customer_id': 107, 'agency_id': 1} |5     |1        |107        |
|11895    |{'car_id': 4, 'customer_id': 53, 'agency_id': 4}  |4     |4        |53         |
|11896    |{'car_id': 8, 'customer_id': 131, 'agency_id': 2} |8     |2        |131        |
|11897    |{'car_id': 23, 'customer_id': 66, 'agency_id': 3} |23    |3        |66         |
|11898    |{'car_id': 24, 'customer_id': 60, 'agency_id': 4} |24    |4        |60         |
|11899    |{'car_id': 27, 'customer_id': 92, 'agency_id': 2} |27    |2        |92         |
|11900    |{'car_id': 3, 'customer_id': 40, 'agency_id': 4}  |3     |4        |40         |
|11901    |{'car_id': 3, 'customer_id': 35, 'agency_id': 1}  |3     |1        |35         |
|11902    |{'car_id': 3, 'customer_id': 72, 'agency_id': 1}  |3     |1        |72         |
|11903    |{'car_id': 29, 'customer_id': 58, 'agency_id': 3} |29    |3        |58         |
|11904    |{'car_id': 3, 'customer_id': 131, 'agency_id': 4} |3     |4        |131        |
|11905    |{'car_id': 27, 'customer_id': 10, 'agency_id': 2} |27    |2        |10         |
|11906    |{'car_id': 12, 'customer_id': 40, 'agency_id': 1} |12    |1        |40         |
|11907    |{'car_id': 25, 'customer_id': 53, 'agency_id': 3} |25    |3        |53         |
|11908    |{'car_id': 14, 'customer_id': 153, 'agency_id': 4}|14    |4        |153        |
|11909    |{'car_id': 24, 'customer_id': 96, 'agency_id': 4} |24    |4        |96         |
|11910    |{'car_id': 24, 'customer_id': 151, 'agency_id': 4}|24    |4        |151        |
+---------+--------------------------------------------------+------+---------+-----------+
only showing top 20 rows

### Join

In [33]:
df_final = (
    df_rentals
    .join(df_cars, "car_id", "inner")
    .join(df_brands, "brand_id", "inner")
    .join(df_agencies, "agency_id", "inner")
    .join(df_customers, "customer_id", "inner")
    .select("rental_id","car_name","brand_name","agency_name","customer_name")
)
df_final.show(truncate=False)

+---------+-----------------------------------+-------------+-------------+---------------+
|rental_id|car_name                           |brand_name   |agency_name  |customer_name  |
+---------+-----------------------------------+-------------+-------------+---------------+
|11891    |Wallace-Carlson Model 9            |Honda        |NYC Rentals  |Margaret Jones |
|11892    |Grimes-Green Model 8               |Audi         |LA Car Rental|Albert Williams|
|11893    |Stewart-Allen Model 5              |Honda        |SF Cars      |Caleb Fleming  |
|11894    |Campos PLC Model 4                 |Ford         |NYC Rentals  |Andrew Butler  |
|11895    |Wagner LLC Model 1                 |BYD          |SF Cars      |Kristin Potts  |
|11896    |Jones, Jefferson and Rivera Model 7|BMW          |LA Car Rental|Jeremy Parks   |
|11897    |Lopez and Sons Model 9             |BMW          |Zapopan Auto |Terry Wells    |
|11898    |Salazar Ltd Model 8                |Mercedes-Benz|SF Cars      |Marc Williams  |
|11899    |Villanueva PLC Model 7             |BYD          |LA Car Rental|Danny Williams |
|11900    |Faulkner-Howard Model 5            |Audi         |SF Cars      |Eric Owens PhD |
|11901    |Faulkner-Howard Model 5            |Audi         |NYC Rentals  |Laura Perry    |
|11902    |Faulkner-Howard Model 5            |Audi         |NYC Rentals  |Paul Brown     |
|11903    |Atkinson Ltd Model 10              |Ford         |Zapopan Auto |Alexa Hernandez|
|11904    |Faulkner-Howard Model 5            |Audi         |SF Cars      |Jeremy Parks   |
|11905    |Villanueva PLC Model 7             |BYD          |LA Car Rental|Alyssa Reid    |
|11906    |Moon, Davis and Larsen Model 1     |Honda        |NYC Rentals  |Eric Owens PhD |
|11907    |Alvarez-Davis Model 3              |Audi         |Zapopan Auto |Kristin Potts  |
|11908    |Clayton-Cook Model 10              |Honda        |SF Cars      |Amy Ortiz      |
|11909    |Salazar Ltd Model 8                |Mercedes-Benz|SF Cars      |Laura Gregory  |
|11910    |Salazar Ltd Model 8                |Mercedes-Benz|SF Cars      |Jay Walsh      |
+---------+-----------------------------------+-------------+-------------+---------------+
only showing top 20 rows

In [34]:
sc.stop()