# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 04**: Data Unions & Joins Pipeline

**Date**: September 23rd 2025

**Student Name**: Axel Escoto Garcia

**Professor**: Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Examples on SparkSQL") \
    .master("spark://38f00c0193b4:7077") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/30 03:15:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
# Build schema
# Import your module
from axel2293.spark_utils import SparkUtils

# Agencies, Brands, Cars, Customers, Rentals
schema_agencies = SparkUtils.generate_schema([("agency_id", "int"), ("agency_info", "string")])
schema_brands = SparkUtils.generate_schema([("brand_id", "int"), ("brand_info", "string")])
schema_cars = SparkUtils.generate_schema([("car_id", "int"), ("car_info", "string")])
schema_customers = SparkUtils.generate_schema([("customer_id", "int"), ("customer_info", "string")])
schema_rentals = SparkUtils.generate_schema([("rental_id", "int"), ("rental_info", "string")])

df_agencies = spark.read.schema(schema_agencies).option("header", True).csv("/opt/spark/work-dir/data/car_service/agencies")
df_brands = spark.read.schema(schema_brands).option("header", True).csv("/opt/spark/work-dir/data/car_service/brands")
df_cars = spark.read.schema(schema_cars).option("header", True).csv("/opt/spark/work-dir/data/car_service/cars")
df_customers = spark.read.schema(schema_customers).option("header", True).csv("/opt/spark/work-dir/data/car_service/customers")
df_rentals = spark.read.schema(schema_rentals).option("header", True).csv("/opt/spark/work-dir/data/car_service/rentals")

df_agencies.show(truncate=False)
df_brands.show(truncate=False)
df_cars.show(truncate=False)
df_customers.show(truncate=False)
df_rentals.show(truncate=False)

+---------+-----------------------------------------------------+
|agency_id|agency_info                                          |
+---------+-----------------------------------------------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|
+---------+-----------------------------------------------------+

+--------+-----------------------------------------------------+
|brand_id|brand_info                                           |
+--------+-----------------------------------------------------+
|1       |{'brand_name': 'Mercedes-Benz', 'country': 'Germany'}|
|2       |{'brand_name': 'BMW', 'country': 'Germany'}          |
|3       |{'brand_name': 'Audi', 'country': 'Germany'}         |
|4       |{'brand_name': 'Ford', 'country': 'US'}              |
|5       |{'brand_name': 'BYD', 'country': 'China'}            |
|6       |{'brand_name': 'Honda', 'country': 'Japan'}          |
|7       |{'brand_name': 'Toyota', 'country': 'Japan'}         |
+--------+-----------------------------------------------------+

+------+----------------------------------------------------------------------------------------+
|car_id|car_info                                                                                |
+------+----------------------------------------------------------------------------------------+
|1     |{'car_name': 'Chang-Fisher Model 7', 'brand_id': 5, 'price_per_day': 139}               |
|2     |{'car_name': 'Sheppard-Tucker Model 4', 'brand_id': 6, 'price_per_day': 70}             |
|3     |{'car_name': 'Faulkner-Howard Model 5', 'brand_id': 3, 'price_per_day': 53}             |
|4     |{'car_name': 'Wagner LLC Model 1', 'brand_id': 5, 'price_per_day': 89}                  |
|5     |{'car_name': 'Campos PLC Model 4', 'brand_id': 4, 'price_per_day': 112}                 |
|6     |{'car_name': 'Archer-Patel Model 2', 'brand_id': 3, 'price_per_day': 55}                |
|7     |{'car_name': 'Patrick, Barrera and Collins Model 6', 'brand_id': 6, 'price_per_day': 66}|
|8     |{'car_name': 'Jones, Jefferson and Rivera Model 7', 'brand_id': 2, 'price_per_day': 115}|
|9     |{'car_name': 'Garcia, Hamilton and Carr Model 5', 'brand_id': 6, 'price_per_day': 137}  |
|10    |{'car_name': 'Levy Group Model 9', 'brand_id': 3, 'price_per_day': 93}                  |
|11    |{'car_name': 'Grimes-Green Model 8', 'brand_id': 3, 'price_per_day': 150}               |
|12    |{'car_name': 'Moon, Davis and Larsen Model 1', 'brand_id': 6, 'price_per_day': 100}     |
|13    |{'car_name': 'Summers, Barnett and Smith Model 6', 'brand_id': 4, 'price_per_day': 139} |
|14    |{'car_name': 'Clayton-Cook Model 10', 'brand_id': 6, 'price_per_day': 116}              |
|15    |{'car_name': 'Nguyen, Harrell and Lee Model 6', 'brand_id': 2, 'price_per_day': 94}     |
|16    |{'car_name': 'Walker, Pratt and Thomas Model 9', 'brand_id': 6, 'price_per_day': 192}   |
|17    |{'car_name': 'West, Miller and Flores Model 5', 'brand_id': 1, 'price_per_day': 63}     |
|18    |{'car_name': 'Bolton, Burns and Turner Model 10', 'brand_id': 6, 'price_per_day': 110}  |
|19    |{'car_name': 'Mann-Kelley Model 3', 'brand_id': 2, 'price_per_day': 146}                |
|20    |{'car_name': 'Harris, Lloyd and Payne Model 4', 'brand_id': 6, 'price_per_day': 96}     |
+------+----------------------------------------------------------------------------------------+
only showing top 20 rows
+-----------+-------------------------------------------------------------------------+
|customer_id|customer_info                                                            |
+-----------+-------------------------------------------------------------------------+
|1          |{'customer_name': 'Tiffany Riley', 'city': 'Monterrey', 'age': 32}       |
|2          |{'customer_name': 'Matthew Davies', 'city': 'Monterrey', 'age': 36}      |
|3          |{'customer_name': 'Rebecca Miller', 'city': 'Mexico City', 'age': 30}    |
|4          |{'customer_name': 'Katelyn Mccoy', 'city': 'New York', 'age': 34}        |
|5          |{'customer_name': 'Dana Dennis', 'city': 'Zapopan', 'age': 26}           |
|6          |{'customer_name': 'Daniel Norton', 'city': 'Mexico City', 'age': 34}     |
|7          |{'customer_name': 'Robert Garcia', 'city': 'Zapopan', 'age': 47}         |
|8          |{'customer_name': 'Michael Williams', 'city': 'Monterrey', 'age': 33}    |
|9          |{'customer_name': 'Susan Ferguson', 'city': 'San Francisco', 'age': 41}  |
|10         |{'customer_name': 'Alyssa Reid', 'city': 'Mexico City', 'age': 40}       |
|11         |{'customer_name': 'Laura Myers', 'city': 'Zapopan', 'age': 50}           |
|12         |{'customer_name': 'William Johnson', 'city': 'Monterrey', 'age': 25}     |
|13         |{'customer_name': 'Tyler Lopez', 'city': 'Mexico City', 'age': 21}       |
|14         |{'customer_name': 'Daniel Owen', 'city': 'Mexico City', 'age': 47}       |
|15         |{'customer_name': 'Allison Coleman', 'city': 'Zapopan', 'age': 33}       |
|16         |{'customer_name': 'David Walker', 'city': 'Londres', 'age': 33}          |
|17         |{'customer_name': 'Hayley White', 'city': 'Monterrey', 'age': 29}        |
|18         |{'customer_name': 'Amanda Garcia', 'city': 'Zapopan', 'age': 20}         |
|19         |{'customer_name': 'Christina Howard PhD', 'city': 'Monterrey', 'age': 22}|
|20         |{'customer_name': 'Tamara Jackson', 'city': 'San Francisco', 'age': 29}  |
+-----------+-------------------------------------------------------------------------+
only showing top 20 rows
+---------+--------------------------------------------------+
|rental_id|rental_info                                       |
+---------+--------------------------------------------------+
|11891    |{'car_id': 21, 'customer_id': 71, 'agency_id': 1} |
|11892    |{'car_id': 11, 'customer_id': 52, 'agency_id': 2} |
|11893    |{'car_id': 22, 'customer_id': 116, 'agency_id': 4}|
|11894    |{'car_id': 5, 'customer_id': 107, 'agency_id': 1} |
|11895    |{'car_id': 4, 'customer_id': 53, 'agency_id': 4}  |
|11896    |{'car_id': 8, 'customer_id': 131, 'agency_id': 2} |
|11897    |{'car_id': 23, 'customer_id': 66, 'agency_id': 3} |
|11898    |{'car_id': 24, 'customer_id': 60, 'agency_id': 4} |
|11899    |{'car_id': 27, 'customer_id': 92, 'agency_id': 2} |
|11900    |{'car_id': 3, 'customer_id': 40, 'agency_id': 4}  |
|11901    |{'car_id': 3, 'customer_id': 35, 'agency_id': 1}  |
|11902    |{'car_id': 3, 'customer_id': 72, 'agency_id': 1}  |
|11903    |{'car_id': 29, 'customer_id': 58, 'agency_id': 3} |
|11904    |{'car_id': 3, 'customer_id': 131, 'agency_id': 4} |
|11905    |{'car_id': 27, 'customer_id': 10, 'agency_id': 2} |
|11906    |{'car_id': 12, 'customer_id': 40, 'agency_id': 1} |
|11907    |{'car_id': 25, 'customer_id': 53, 'agency_id': 3} |
|11908    |{'car_id': 14, 'customer_id': 153, 'agency_id': 4}|
|11909    |{'car_id': 24, 'customer_id': 96, 'agency_id': 4} |
|11910    |{'car_id': 24, 'customer_id': 151, 'agency_id': 4}|
+---------+--------------------------------------------------+
only showing top 20 rows

# Format JSON cols

In [14]:
from pyspark.sql.functions import col, get_json_object

# rental_id|car_name |agency_name |customer_name
# Need columns to do the joins between the tables, we do this with the IDS (car_id, agency_id, customer_id)
df_rentals_f = df_rentals.withColumn("car_id", get_json_object(col("rental_info"), "$.car_id").cast("int")) \
                        .withColumn("agency_id", get_json_object(col("rental_info"), "$.agency_id").cast("int")) \
                        .withColumn("customer_id", get_json_object(col("rental_info"), "$.customer_id").cast("int"))
# Get only the required data (Names)
df_cars_f = df_cars.withColumn("car_name", get_json_object(col("car_info"), "$.car_name")).drop("car_info")
df_agencies_f = df_agencies.withColumn("agency_name", get_json_object(col("agency_info"), "$.agency_name")).drop("agency_info")
df_customers_f = df_customers.withColumn("customer_name", get_json_object(col("customer_info"), "$.customer_name")).drop("customer_info")

df_rentals_f.show()
df_cars_f.show()
df_agencies_f.show()
df_customers_f.show()

+---------+--------------------+------+---------+-----------+
|rental_id|         rental_info|car_id|agency_id|customer_id|
+---------+--------------------+------+---------+-----------+
|    11891|{'car_id': 21, 'c...|    21|        1|         71|
|    11892|{'car_id': 11, 'c...|    11|        2|         52|
|    11893|{'car_id': 22, 'c...|    22|        4|        116|
|    11894|{'car_id': 5, 'cu...|     5|        1|        107|
|    11895|{'car_id': 4, 'cu...|     4|        4|         53|
|    11896|{'car_id': 8, 'cu...|     8|        2|        131|
|    11897|{'car_id': 23, 'c...|    23|        3|         66|
|    11898|{'car_id': 24, 'c...|    24|        4|         60|
|    11899|{'car_id': 27, 'c...|    27|        2|         92|
|    11900|{'car_id': 3, 'cu...|     3|        4|         40|
|    11901|{'car_id': 3, 'cu...|     3|        1|         35|
|    11902|{'car_id': 3, 'cu...|     3|        1|         72|
|    11903|{'car_id': 29, 'c...|    29|        3|         58|
|    11904|{'car_id': 3, 'cu...|     3|        4|        131|
|    11905|{'car_id': 27, 'c...|    27|        2|         10|
|    11906|{'car_id': 12, 'c...|    12|        1|         40|
|    11907|{'car_id': 25, 'c...|    25|        3|         53|
|    11908|{'car_id': 14, 'c...|    14|        4|        153|
|    11909|{'car_id': 24, 'c...|    24|        4|         96|
|    11910|{'car_id': 24, 'c...|    24|        4|        151|
+---------+--------------------+------+---------+-----------+
only showing top 20 rows
+------+--------------------+
|car_id|            car_name|
+------+--------------------+
|     1|Chang-Fisher Model 7|
|     2|Sheppard-Tucker M...|
|     3|Faulkner-Howard M...|
|     4|  Wagner LLC Model 1|
|     5|  Campos PLC Model 4|
|     6|Archer-Patel Model 2|
|     7|Patrick, Barrera ...|
|     8|Jones, Jefferson ...|
|     9|Garcia, Hamilton ...|
|    10|  Levy Group Model 9|
|    11|Grimes-Green Model 8|
|    12|Moon, Davis and L...|
|    13|Summers, Barnett ...|
|    14|Clayton-Cook Mode...|
|    15|Nguyen, Harrell a...|
|    16|Walker, Pratt and...|
|    17|West, Miller and ...|
|    18|Bolton, Burns and...|
|    19| Mann-Kelley Model 3|
|    20|Harris, Lloyd and...|
+------+--------------------+
only showing top 20 rows
+---------+-------------+
|agency_id|  agency_name|
+---------+-------------+
|        1|  NYC Rentals|
|        2|LA Car Rental|
|        3| Zapopan Auto|
|        4|      SF Cars|
|        5|  Mexico Cars|
+---------+-------------+

+-----------+--------------------+
|customer_id|       customer_name|
+-----------+--------------------+
|          1|       Tiffany Riley|
|          2|      Matthew Davies|
|          3|      Rebecca Miller|
|          4|       Katelyn Mccoy|
|          5|         Dana Dennis|
|          6|       Daniel Norton|
|          7|       Robert Garcia|
|          8|    Michael Williams|
|          9|      Susan Ferguson|
|         10|         Alyssa Reid|
|         11|         Laura Myers|
|         12|     William Johnson|
|         13|         Tyler Lopez|
|         14|         Daniel Owen|
|         15|     Allison Coleman|
|         16|        David Walker|
|         17|        Hayley White|
|         18|       Amanda Garcia|
|         19|Christina Howard PhD|
|         20|      Tamara Jackson|
+-----------+--------------------+
only showing top 20 rows

In [15]:
# Do the joins with the columns we selected and do inner joins (only matching data from both sides)

df_result = df_rentals_f \
                .join(df_cars_f, "car_id", "inner") \
                .join(df_agencies_f, "agency_id", "inner") \
                .join(df_customers_f, "customer_id", "inner") \
                .select("rental_id", "car_name", "agency_name", "customer_name" )

df_result.show()

+---------+--------------------+-------------+---------------+
|rental_id|            car_name|  agency_name|  customer_name|
+---------+--------------------+-------------+---------------+
|    11891|Wallace-Carlson M...|  NYC Rentals| Margaret Jones|
|    11892|Grimes-Green Model 8|LA Car Rental|Albert Williams|
|    11893|Stewart-Allen Mod...|      SF Cars|  Caleb Fleming|
|    11894|  Campos PLC Model 4|  NYC Rentals|  Andrew Butler|
|    11895|  Wagner LLC Model 1|      SF Cars|  Kristin Potts|
|    11896|Jones, Jefferson ...|LA Car Rental|   Jeremy Parks|
|    11897|Lopez and Sons Mo...| Zapopan Auto|    Terry Wells|
|    11898| Salazar Ltd Model 8|      SF Cars|  Marc Williams|
|    11899|Villanueva PLC Mo...|LA Car Rental| Danny Williams|
|    11900|Faulkner-Howard M...|      SF Cars| Eric Owens PhD|
|    11901|Faulkner-Howard M...|  NYC Rentals|    Laura Perry|
|    11902|Faulkner-Howard M...|  NYC Rentals|     Paul Brown|
|    11903|Atkinson Ltd Mode...| Zapopan Auto|Alexa Hernandez|
|    11904|Faulkner-Howard M...|      SF Cars|   Jeremy Parks|
|    11905|Villanueva PLC Mo...|LA Car Rental|    Alyssa Reid|
|    11906|Moon, Davis and L...|  NYC Rentals| Eric Owens PhD|
|    11907|Alvarez-Davis Mod...| Zapopan Auto|  Kristin Potts|
|    11908|Clayton-Cook Mode...|      SF Cars|      Amy Ortiz|
|    11909| Salazar Ltd Model 8|      SF Cars|  Laura Gregory|
|    11910| Salazar Ltd Model 8|      SF Cars|      Jay Walsh|
+---------+--------------------+-------------+---------------+
only showing top 20 rows

In [4]:
sc.stop()