# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 04**: Data Unions & Joins Pipeline

**Date**: September 23rd 2025

**Student Name**: Luis Angel Santana Hernandez

**Professor**: Pablo Camarillo Ramirez

In [58]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Examples on SparkSQL") \
    .master("spark://4dcc0176a67d:7077") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [59]:
# Build schema
from luis_santana.spark_utils import SparkUtils
# Import your module

schema_agencies = SparkUtils.generate_schema([("agency_id", "int"), ("agency_info", "string")])

df_agencies = spark.read.schema(schema_agencies).option("header", True).csv("/opt/spark/work-dir/data/car_service/agencies")
df_agencies.show(truncate=False)

+---------+-----------------------------------------------------+
|agency_id|agency_info                                          |
+---------+-----------------------------------------------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|
+---------+-----------------------------------------------------+

In [60]:
schema_brands = SparkUtils.generate_schema([("brand_id", "int"), ("brand_infos", "string")])
df_brands = spark.read.schema(schema_brands).option("header", True).csv("/opt/spark/work-dir/data/car_service/brands")
df_brands.show(truncate=False)

+--------+-----------------------------------------------------+
|brand_id|brand_infos                                          |
+--------+-----------------------------------------------------+
|1       |{'brand_name': 'Mercedes-Benz', 'country': 'Germany'}|
|2       |{'brand_name': 'BMW', 'country': 'Germany'}          |
|3       |{'brand_name': 'Audi', 'country': 'Germany'}         |
|4       |{'brand_name': 'Ford', 'country': 'US'}              |
|5       |{'brand_name': 'BYD', 'country': 'China'}            |
|6       |{'brand_name': 'Honda', 'country': 'Japan'}          |
|7       |{'brand_name': 'Toyota', 'country': 'Japan'}         |
+--------+-----------------------------------------------------+

In [61]:
schema_cars = SparkUtils.generate_schema([("car_id", "int"), ("car_info", "string")])
df_cars = spark.read.schema(schema_cars).option("header", True).csv("/opt/spark/work-dir/data/car_service/cars")
df_cars.show(truncate=False)

+------+----------------------------------------------------------------------------------------+
|car_id|car_info                                                                                |
+------+----------------------------------------------------------------------------------------+
|1     |{'car_name': 'Chang-Fisher Model 7', 'brand_id': 5, 'price_per_day': 139}               |
|2     |{'car_name': 'Sheppard-Tucker Model 4', 'brand_id': 6, 'price_per_day': 70}             |
|3     |{'car_name': 'Faulkner-Howard Model 5', 'brand_id': 3, 'price_per_day': 53}             |
|4     |{'car_name': 'Wagner LLC Model 1', 'brand_id': 5, 'price_per_day': 89}                  |
|5     |{'car_name': 'Campos PLC Model 4', 'brand_id': 4, 'price_per_day': 112}                 |
|6     |{'car_name': 'Archer-Patel Model 2', 'brand_id': 3, 'price_per_day': 55}                |
|7     |{'car_name': 'Patrick, Barrera and Collins Model 6', 'brand_id': 6, 'price_per_day': 66}|
|8     |{'car_name': 'Jones, Jefferson and Rivera Model 7', 'brand_id': 2, 'price_per_day': 115}|
|9     |{'car_name': 'Garcia, Hamilton and Carr Model 5', 'brand_id': 6, 'price_per_day': 137}  |
|10    |{'car_name': 'Levy Group Model 9', 'brand_id': 3, 'price_per_day': 93}                  |
|11    |{'car_name': 'Grimes-Green Model 8', 'brand_id': 3, 'price_per_day': 150}               |
|12    |{'car_name': 'Moon, Davis and Larsen Model 1', 'brand_id': 6, 'price_per_day': 100}     |
|13    |{'car_name': 'Summers, Barnett and Smith Model 6', 'brand_id': 4, 'price_per_day': 139} |
|14    |{'car_name': 'Clayton-Cook Model 10', 'brand_id': 6, 'price_per_day': 116}              |
|15    |{'car_name': 'Nguyen, Harrell and Lee Model 6', 'brand_id': 2, 'price_per_day': 94}     |
|16    |{'car_name': 'Walker, Pratt and Thomas Model 9', 'brand_id': 6, 'price_per_day': 192}   |
|17    |{'car_name': 'West, Miller and Flores Model 5', 'brand_id': 1, 'price_per_day': 63}     |
|18    |{'car_name': 'Bolton, Burns and Turner Model 10', 'brand_id': 6, 'price_per_day': 110}  |
|19    |{'car_name': 'Mann-Kelley Model 3', 'brand_id': 2, 'price_per_day': 146}                |
|20    |{'car_name': 'Harris, Lloyd and Payne Model 4', 'brand_id': 6, 'price_per_day': 96}     |
+------+----------------------------------------------------------------------------------------+
only showing top 20 rows

In [62]:
schema_customers = SparkUtils.generate_schema([("customer_id", "int"), ("customer_info", "string")])
df_customers = spark.read.schema(schema_customers).option("header", True).csv("/opt/spark/work-dir/data/car_service/customers")
df_customers.show(truncate=False)

+-----------+-------------------------------------------------------------------------+
|customer_id|customer_info                                                            |
+-----------+-------------------------------------------------------------------------+
|1          |{'customer_name': 'Tiffany Riley', 'city': 'Monterrey', 'age': 32}       |
|2          |{'customer_name': 'Matthew Davies', 'city': 'Monterrey', 'age': 36}      |
|3          |{'customer_name': 'Rebecca Miller', 'city': 'Mexico City', 'age': 30}    |
|4          |{'customer_name': 'Katelyn Mccoy', 'city': 'New York', 'age': 34}        |
|5          |{'customer_name': 'Dana Dennis', 'city': 'Zapopan', 'age': 26}           |
|6          |{'customer_name': 'Daniel Norton', 'city': 'Mexico City', 'age': 34}     |
|7          |{'customer_name': 'Robert Garcia', 'city': 'Zapopan', 'age': 47}         |
|8          |{'customer_name': 'Michael Williams', 'city': 'Monterrey', 'age': 33}    |
|9          |{'customer_name': 'Susan Ferguson', 'city': 'San Francisco', 'age': 41}  |
|10         |{'customer_name': 'Alyssa Reid', 'city': 'Mexico City', 'age': 40}       |
|11         |{'customer_name': 'Laura Myers', 'city': 'Zapopan', 'age': 50}           |
|12         |{'customer_name': 'William Johnson', 'city': 'Monterrey', 'age': 25}     |
|13         |{'customer_name': 'Tyler Lopez', 'city': 'Mexico City', 'age': 21}       |
|14         |{'customer_name': 'Daniel Owen', 'city': 'Mexico City', 'age': 47}       |
|15         |{'customer_name': 'Allison Coleman', 'city': 'Zapopan', 'age': 33}       |
|16         |{'customer_name': 'David Walker', 'city': 'Londres', 'age': 33}          |
|17         |{'customer_name': 'Hayley White', 'city': 'Monterrey', 'age': 29}        |
|18         |{'customer_name': 'Amanda Garcia', 'city': 'Zapopan', 'age': 20}         |
|19         |{'customer_name': 'Christina Howard PhD', 'city': 'Monterrey', 'age': 22}|
|20         |{'customer_name': 'Tamara Jackson', 'city': 'San Francisco', 'age': 29}  |
+-----------+-------------------------------------------------------------------------+
only showing top 20 rows

In [63]:
schema_rentals = SparkUtils.generate_schema([("rental_id", "int"),("rental_info", "string")])
df_rentals = spark.read.schema(schema_rentals).option("header", True).csv("/opt/spark/work-dir/data/car_service/rentals")
df_rentals.show(truncate=False)

+---------+--------------------------------------------------+
|rental_id|rental_info                                       |
+---------+--------------------------------------------------+
|11891    |{'car_id': 21, 'customer_id': 71, 'agency_id': 1} |
|11892    |{'car_id': 11, 'customer_id': 52, 'agency_id': 2} |
|11893    |{'car_id': 22, 'customer_id': 116, 'agency_id': 4}|
|11894    |{'car_id': 5, 'customer_id': 107, 'agency_id': 1} |
|11895    |{'car_id': 4, 'customer_id': 53, 'agency_id': 4}  |
|11896    |{'car_id': 8, 'customer_id': 131, 'agency_id': 2} |
|11897    |{'car_id': 23, 'customer_id': 66, 'agency_id': 3} |
|11898    |{'car_id': 24, 'customer_id': 60, 'agency_id': 4} |
|11899    |{'car_id': 27, 'customer_id': 92, 'agency_id': 2} |
|11900    |{'car_id': 3, 'customer_id': 40, 'agency_id': 4}  |
|11901    |{'car_id': 3, 'customer_id': 35, 'agency_id': 1}  |
|11902    |{'car_id': 3, 'customer_id': 72, 'agency_id': 1}  |
|11903    |{'car_id': 29, 'customer_id': 58, 'agency_id': 3} |
|11904    |{'car_id': 3, 'customer_id': 131, 'agency_id': 4} |
|11905    |{'car_id': 27, 'customer_id': 10, 'agency_id': 2} |
|11906    |{'car_id': 12, 'customer_id': 40, 'agency_id': 1} |
|11907    |{'car_id': 25, 'customer_id': 53, 'agency_id': 3} |
|11908    |{'car_id': 14, 'customer_id': 153, 'agency_id': 4}|
|11909    |{'car_id': 24, 'customer_id': 96, 'agency_id': 4} |
|11910    |{'car_id': 24, 'customer_id': 151, 'agency_id': 4}|
+---------+--------------------------------------------------+
only showing top 20 rows

# Json Colums

In [64]:
from pyspark.sql.functions import get_json_object
agency_df = df_agencies.withColumn("agency_name",get_json_object("agency_info","$.agency_name")) \
    .withColumn("city",get_json_object("agency_info","$.city")) 
agency_df = agency_df.drop("agency_info")

agency_df.show(truncate=False)

+---------+-------------+-------------+
|agency_id|agency_name  |city         |
+---------+-------------+-------------+
|1        |NYC Rentals  |New York     |
|2        |LA Car Rental|Londres      |
|3        |Zapopan Auto |Zapopan      |
|4        |SF Cars      |San Francisco|
|5        |Mexico Cars  |Mexico City  |
+---------+-------------+-------------+

In [65]:
brands_df = df_brands.withColumn("brand_name",get_json_object("brand_infos","$.brand_name")) \
    .withColumn("country",get_json_object("brand_infos","$.country"))
brands_df = brands_df.select("brand_id","brand_name","country")
brands_df.show(truncate=False)

+--------+-------------+-------+
|brand_id|brand_name   |country|
+--------+-------------+-------+
|1       |Mercedes-Benz|Germany|
|2       |BMW          |Germany|
|3       |Audi         |Germany|
|4       |Ford         |US     |
|5       |BYD          |China  |
|6       |Honda        |Japan  |
|7       |Toyota       |Japan  |
+--------+-------------+-------+

In [66]:
cars_df = df_cars.withColumn("car_name",get_json_object("car_info","$.car_name")) \
    .withColumn("brand_id",get_json_object("car_info","$.brand_id").cast("int")) \
    .withColumn("price_per_day",get_json_object("car_info","$.price_per_day").cast("int")) 
cars_df = cars_df.select("car_id","car_name","brand_id","price_per_day")
cars_df.show(truncate=False)

+------+------------------------------------+--------+-------------+
|car_id|car_name                            |brand_id|price_per_day|
+------+------------------------------------+--------+-------------+
|1     |Chang-Fisher Model 7                |5       |139          |
|2     |Sheppard-Tucker Model 4             |6       |70           |
|3     |Faulkner-Howard Model 5             |3       |53           |
|4     |Wagner LLC Model 1                  |5       |89           |
|5     |Campos PLC Model 4                  |4       |112          |
|6     |Archer-Patel Model 2                |3       |55           |
|7     |Patrick, Barrera and Collins Model 6|6       |66           |
|8     |Jones, Jefferson and Rivera Model 7 |2       |115          |
|9     |Garcia, Hamilton and Carr Model 5   |6       |137          |
|10    |Levy Group Model 9                  |3       |93           |
|11    |Grimes-Green Model 8                |3       |150          |
|12    |Moon, Davis and Larsen Model 1      |6       |100          |
|13    |Summers, Barnett and Smith Model 6  |4       |139          |
|14    |Clayton-Cook Model 10               |6       |116          |
|15    |Nguyen, Harrell and Lee Model 6     |2       |94           |
|16    |Walker, Pratt and Thomas Model 9    |6       |192          |
|17    |West, Miller and Flores Model 5     |1       |63           |
|18    |Bolton, Burns and Turner Model 10   |6       |110          |
|19    |Mann-Kelley Model 3                 |2       |146          |
|20    |Harris, Lloyd and Payne Model 4     |6       |96           |
+------+------------------------------------+--------+-------------+
only showing top 20 rows

In [67]:
customer_df = df_customers.withColumn("customer_name",get_json_object("customer_info","$.customer_name")) \
    .withColumn("age",get_json_object("customer_info","$.age").cast("int")) \
    .withColumn("city",get_json_object("customer_info","$.city"))
customer_df = customer_df.select("customer_id","customer_name","age","city")

customer_df.show(truncate=False)

+-----------+--------------------+---+-------------+
|customer_id|customer_name       |age|city         |
+-----------+--------------------+---+-------------+
|1          |Tiffany Riley       |32 |Monterrey    |
|2          |Matthew Davies      |36 |Monterrey    |
|3          |Rebecca Miller      |30 |Mexico City  |
|4          |Katelyn Mccoy       |34 |New York     |
|5          |Dana Dennis         |26 |Zapopan      |
|6          |Daniel Norton       |34 |Mexico City  |
|7          |Robert Garcia       |47 |Zapopan      |
|8          |Michael Williams    |33 |Monterrey    |
|9          |Susan Ferguson      |41 |San Francisco|
|10         |Alyssa Reid         |40 |Mexico City  |
|11         |Laura Myers         |50 |Zapopan      |
|12         |William Johnson     |25 |Monterrey    |
|13         |Tyler Lopez         |21 |Mexico City  |
|14         |Daniel Owen         |47 |Mexico City  |
|15         |Allison Coleman     |33 |Zapopan      |
|16         |David Walker        |33 |Londres      |
|17         |Hayley White        |29 |Monterrey    |
|18         |Amanda Garcia       |20 |Zapopan      |
|19         |Christina Howard PhD|22 |Monterrey    |
|20         |Tamara Jackson      |29 |San Francisco|
+-----------+--------------------+---+-------------+
only showing top 20 rows

In [68]:
rental_df = df_rentals.withColumn("car_id",get_json_object("rental_info","$.car_id").cast("int")) \
    .withColumn("customer_id",get_json_object("rental_info","$.customer_id").cast("int")) \
    .withColumn("agency_id",get_json_object("rental_info","$.agency_id").cast("int"))
rental_df = rental_df.select("rental_id","car_id","customer_id","agency_id")
rental_df.show(truncate=False)

+---------+------+-----------+---------+
|rental_id|car_id|customer_id|agency_id|
+---------+------+-----------+---------+
|11891    |21    |71         |1        |
|11892    |11    |52         |2        |
|11893    |22    |116        |4        |
|11894    |5     |107        |1        |
|11895    |4     |53         |4        |
|11896    |8     |131        |2        |
|11897    |23    |66         |3        |
|11898    |24    |60         |4        |
|11899    |27    |92         |2        |
|11900    |3     |40         |4        |
|11901    |3     |35         |1        |
|11902    |3     |72         |1        |
|11903    |29    |58         |3        |
|11904    |3     |131        |4        |
|11905    |27    |10         |2        |
|11906    |12    |40         |1        |
|11907    |25    |53         |3        |
|11908    |14    |153        |4        |
|11909    |24    |96         |4        |
|11910    |24    |151        |4        |
+---------+------+-----------+---------+
only showing top 20 rows

# join data

In [69]:
data_car = cars_df.select("car_id","car_name")
data_customer = customer_df.select("customer_id","customer_name")
data_agency = agency_df.select("agency_id","agency_name")
# data_car.show(truncate=False)
#data_customer.show(truncate=False)
# data_agency.show(truncate=False)

In [70]:
info = rental_df.join(data_car, rental_df.car_id == data_car.car_id)
info = info.join(data_customer, info.customer_id == data_customer.customer_id)
info = info.join(data_agency, info.agency_id == data_agency.agency_id)

final = info.select("rental_id","car_name","customer_name","agency_name")
final.show(truncate=False)

+---------+-----------------------------------+---------------+-------------+
|rental_id|car_name                           |customer_name  |agency_name  |
+---------+-----------------------------------+---------------+-------------+
|11891    |Wallace-Carlson Model 9            |Margaret Jones |NYC Rentals  |
|11892    |Grimes-Green Model 8               |Albert Williams|LA Car Rental|
|11893    |Stewart-Allen Model 5              |Caleb Fleming  |SF Cars      |
|11894    |Campos PLC Model 4                 |Andrew Butler  |NYC Rentals  |
|11895    |Wagner LLC Model 1                 |Kristin Potts  |SF Cars      |
|11896    |Jones, Jefferson and Rivera Model 7|Jeremy Parks   |LA Car Rental|
|11897    |Lopez and Sons Model 9             |Terry Wells    |Zapopan Auto |
|11898    |Salazar Ltd Model 8                |Marc Williams  |SF Cars      |
|11899    |Villanueva PLC Model 7             |Danny Williams |LA Car Rental|
|11900    |Faulkner-Howard Model 5            |Eric Owens PhD |SF Cars      |
|11901    |Faulkner-Howard Model 5            |Laura Perry    |NYC Rentals  |
|11902    |Faulkner-Howard Model 5            |Paul Brown     |NYC Rentals  |
|11903    |Atkinson Ltd Model 10              |Alexa Hernandez|Zapopan Auto |
|11904    |Faulkner-Howard Model 5            |Jeremy Parks   |SF Cars      |
|11905    |Villanueva PLC Model 7             |Alyssa Reid    |LA Car Rental|
|11906    |Moon, Davis and Larsen Model 1     |Eric Owens PhD |NYC Rentals  |
|11907    |Alvarez-Davis Model 3              |Kristin Potts  |Zapopan Auto |
|11908    |Clayton-Cook Model 10              |Amy Ortiz      |SF Cars      |
|11909    |Salazar Ltd Model 8                |Laura Gregory  |SF Cars      |
|11910    |Salazar Ltd Model 8                |Jay Walsh      |SF Cars      |
+---------+-----------------------------------+---------------+-------------+
only showing top 20 rows

# the lazy way (optimising and not using show until the end for it to do it in only one action)

In [71]:
lazy_agency = df_agencies.withColumn("agency_name",get_json_object("agency_info","$.agency_name"))\
    .select("agency_id","agency_name")

lazy_car = df_cars.withColumn("car_name",get_json_object("car_info","$.car_name"))\
    .select("car_id","car_name")

lazy_customer = df_customers.withColumn("customer_name",get_json_object("customer_info","$.customer_name"))\
    .select("customer_id","customer_name")

lazy_rental = df_rentals.withColumn("car_id",get_json_object("rental_info","$.car_id").cast("int")) \
    .withColumn("customer_id",get_json_object("rental_info","$.customer_id").cast("int")) \
    .withColumn("agency_id",get_json_object("rental_info","$.agency_id").cast("int"))\
    .select("rental_id","car_id","customer_id","agency_id")

final_lazy = lazy_rental.join(lazy_car, lazy_rental.car_id == lazy_car.car_id) \
    .join(lazy_customer, lazy_rental.customer_id == lazy_customer.customer_id) \
    .join(lazy_agency, lazy_rental.agency_id == lazy_agency.agency_id)\
    .select("rental_id","car_name","customer_name","agency_name")

#lazy_agency.show(truncate=False)
#lazy_car.show(truncate=False)
#lazy_customer.show(truncate=False)
#lazy_rental.show(truncate=False)
final_lazy.show(truncate=False)

+---------+-----------------------------------+---------------+-------------+
|rental_id|car_name                           |customer_name  |agency_name  |
+---------+-----------------------------------+---------------+-------------+
|11891    |Wallace-Carlson Model 9            |Margaret Jones |NYC Rentals  |
|11892    |Grimes-Green Model 8               |Albert Williams|LA Car Rental|
|11893    |Stewart-Allen Model 5              |Caleb Fleming  |SF Cars      |
|11894    |Campos PLC Model 4                 |Andrew Butler  |NYC Rentals  |
|11895    |Wagner LLC Model 1                 |Kristin Potts  |SF Cars      |
|11896    |Jones, Jefferson and Rivera Model 7|Jeremy Parks   |LA Car Rental|
|11897    |Lopez and Sons Model 9             |Terry Wells    |Zapopan Auto |
|11898    |Salazar Ltd Model 8                |Marc Williams  |SF Cars      |
|11899    |Villanueva PLC Model 7             |Danny Williams |LA Car Rental|
|11900    |Faulkner-Howard Model 5            |Eric Owens PhD |SF Cars      |
|11901    |Faulkner-Howard Model 5            |Laura Perry    |NYC Rentals  |
|11902    |Faulkner-Howard Model 5            |Paul Brown     |NYC Rentals  |
|11903    |Atkinson Ltd Model 10              |Alexa Hernandez|Zapopan Auto |
|11904    |Faulkner-Howard Model 5            |Jeremy Parks   |SF Cars      |
|11905    |Villanueva PLC Model 7             |Alyssa Reid    |LA Car Rental|
|11906    |Moon, Davis and Larsen Model 1     |Eric Owens PhD |NYC Rentals  |
|11907    |Alvarez-Davis Model 3              |Kristin Potts  |Zapopan Auto |
|11908    |Clayton-Cook Model 10              |Amy Ortiz      |SF Cars      |
|11909    |Salazar Ltd Model 8                |Laura Gregory  |SF Cars      |
|11910    |Salazar Ltd Model 8                |Jay Walsh      |SF Cars      |
+---------+-----------------------------------+---------------+-------------+
only showing top 20 rows

In [72]:
sc.stop()